{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        function compareFiles(definedFileName, uploadedFile, resultSpan, compareBtn) {
            var formData = new FormData();
            formData.append('defined_file_name', definedFileName);
            formData.append('uploaded_file', uploadedFile);

            var csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    if (data.result=="VALID"){
                        $(resultSpan).css('color', 'green');
                        $(resultSpan).text(data.result);
                        $(compareBtn).prop('disabled', true);
                        $(compareBtn).css('text-decoration', 'line-through');
                        $(compareBtn).addClass('btn-outline-secondary');
                    }
                    else{
                        $(resultSpan).css('color', 'red');
                        $(resultSpan).text(data.result);
                    }
                }
            });

            setTimeout(function() {
                $.ajax({
                    url: '/{ challenge.slug }/get_user_rank/',
                    type: 'GET',
                    success: function(data) {
                        $('#user-rank').html('Your rank : '+data.rank+'/'+data.total_user+' <i class="bi-info-circle ms-1"></i>');
                        $('#user-score').text('Your score : ' + data.score);
                        $('#user-category').html('Your category : <span class="ms-1 fw-bold">'+data.category+'</span>');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error fetching user rank:', error);
                    }
                });
            }, 1000);
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('.compareBtn').on('click', function () {
            var definedFileName = $(this).data('defined-file-name');
            var uploadedFile = $(this).closest('.col').prev('.col-4').find('.fileInput')[0].files[0];
            var resultSpan = $(this).closest('.col').next('.col').find('.result');
            compareFiles(definedFileName, uploadedFile, resultSpan, this);
        });

        $('.level-link').on('click', function(e) {
            e.preventDefault();
            $('.level-link').removeClass('active');
            $(this).addClass('active');

            var levelId = $(this).data('level-id');
            $('.downloads').hide();
            $('.downloads[data-level-id="' + levelId + '"]').show();
            $('.defined-files-container').hide();
            $('.defined-files-container[data-level-id="' + levelId + '"]').show();
            localStorage.setItem('lastLevelId', levelId);
        });

        var lastLevelId = localStorage.getItem('lastLevelId');
        if (lastLevelId) {
            $('.level-link[data-level-id="' + lastLevelId + '"]').click();
        } else {
            $('.level-link:first').click();
        }
    });
</script>

<div class="shadow bg-[#051934] text-white p-3 px-4">
    <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold">{{ challenge.name }}</h2>
        <div class="flex items-center mx-3">
            <h4>Category: {{ challenge.category }}</h4>
        </div>
        <div class="flex items-center mx-3">
            <h4>Difficulty:</h4>
        </div>
        <div class="mx-2">
            <figure class="notation" style="margin-top: 5px; margin-bottom: -5px">
                <span role="img" style="width: {{ challenge.difficulty }}%" class="bg-blue-400 h-2 rounded-full inline-block"></span>
            </figure>
        </div>
    </div>
</div>

<div class="container-fluid mt-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="col-span-1 p-1">
            <div class="card bg-white shadow-lg">
                <div class="card-header">
                    <h3 class="text-lg font-semibold">Levels</h3>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        {% for level in levels %}
                            <a href="#" class="level-link list-group-item list-group-item-action p-2 hover:bg-gray-200" data-level-id="{{ level.id }}">{{ level.name }}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-span-2 p-1">
            {% for level in levels %}
            <div class="downloads card bg-white shadow-lg m-3" data-level-id="{{ level.id }}" style="display: none;">
                <div class="card-header">
                    <h3 class="text-lg font-semibold">Downloads</h3>
                </div>
                <div class="card-body">
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                        <div>
                            <h5 class="font-semibold">{{ level.name }} description</h5>
                            {% if level.description_file %}
                                <a href="{{ level.description_file.url }}" download>
                                    <button type="button" class="btn bg-gray-200 text-black hover:bg-gray-300">
                                        <i class="bi-file-pdf me-1"></i> Download Description File
                                    </button>
                                </a>
                            {% else %}
                                <p>No description file available.</p>
                            {% endif %}
                        </div>
                        <div>
                            <h5 class="font-semibold">Input files</h5>
                            {% if level.input_file %}
                                <a href="{{ level.input_file.url }}" download>
                                    <button type="button" class="btn bg-gray-200 text-black hover:bg-gray-300">
                                        <i class="bi-file-zip me-1"></i> Download Input Files
                                    </button>
                                </a>
                            {% else %}
                                <p>No input file available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="solutions card bg-white shadow-lg m-3">
                <div class="card-header">
                    <h3 class="text-lg font-semibold">Solution submit</h3>
                </div>
                <div class="card-body">
                    <div id="definedFileForm"></div>
                    {% for level in levels %}
                    <div class="defined-files-container" data-level-id="{{ level.id }}" style="display: none;">
                        {% for defined_file in level.defined_files.all|dictsort:"name" %}
                            <div class="defined-file p-2 bg-gray-100 rounded mb-3">
                                <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                                    <div class="col-span-1">
                                        {% if defined_file.input_file %}
                                            <a href="{{ defined_file.input_file.url }}" download type="button" class="btn bg-gray-200 text-black hover:bg-gray-300">
                                                <i class="bi-file-text me-1"></i>{{ defined_file.filename }}
                                            </a>
                                        {% else %}
                                            <p>No input file available.</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-span-2">
                                        <input class="fileInput w-full py-2 px-3 border border-gray-300 rounded" type="file" name="uploaded_file" accept=".txt">
                                    </div>
                                    <div class="col-span-1">
                                        <button type="button" class="compareBtn btn bg-green-500 text-white hover:bg-green-600" data-defined-file-name="{{ defined_file.name }}">
                                            Test {{ defined_file.name }}
                                        </button>
                                    </div>
                                    <div class="col-span-1">
                                        <span class="result">{{ test_results|get_item:defined_file.id }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
